---
import Layout from "../layouts/Layout.astro";
import BackIcon from "../components/icons/BackIcon.astro";
import BuyIcon from "../components/icons/BuyIcon.astro";
import Titulo from "../components/layout/Titulo.astro";
import StarRating from "../components/utils/StarRating.astro";
import { libros } from "../data/libros.js";
import BarRating from "../components/utils/BarRating.astro";

const { libro } = Astro.params;

const info = libros.find((l) => l.id === libro);

if (!info) {
  return Astro.redirect("/404");
}
---

<Layout title={`${info.titulo}`}>
  <main class="m-auto max-w-4xl px-4">
    <header>
      <Titulo clase={"scale-75"} />
    </header>

    <div class="flex justify-center mb-10">
      <BackIcon />
    </div>

    <div
      class="grid md:grid-cols-[350px_1fr] gap-5 gap-x-12 px-10 md:px-0 mb-10"
    >
      <div class="flex flex-col">
        <picture class="mb-8 w-full relative">
          <img
            class="aspect-[2000/3227] h-full object-cover w-full max-w-full rounded-lg"
            src={info.img}
            alt={`Portada de ${info.titulo}`}
            style={`view-transition-name: book-${info.id}`}
          />
        </picture>

        <BuyIcon link={info.linkCompra} />
      </div>

      <aside class="text-white">
        <h1 class="text-3xl md:text-5xl font-black mb-5">{info.titulo}</h1>
        <p class="mb-5">
          <strong>Autor:</strong>
          <strong class="font-semibold text-white">{info.autor}</strong>
        </p>

        <a
          id="enlace-comunidad"
          href="#community-ratings"
          class="flex items-center mb-5 hover:bg-gray-400 hover:bg-opacity-10 hover:rounded-lg cursor-pointer"
        >
          <StarRating
            avgRating={info.rating.avgRating}
            ratingsCount={info.rating.ratingsCount}
            reviewsCount={info.rating.reviewsCount}
          />
        </a>

        <p class="text-lg pb-10">{info.sinopsis}</p>
      </aside>
    </div>
  </main>

  <section
    id="community-ratings"
    class="m-auto max-w-4xl px-4 text-white mb-14"
  >
    <h2 class="text-1xl md:text-3xl font-black mb-5">
      Calificaciones de la Comunidad
    </h2>

    <div class="flex items-center mb-5">
      <StarRating
        avgRating={info.rating.avgRating}
        ratingsCount={info.rating.ratingsCount}
        reviewsCount={info.rating.reviewsCount}
      />
    </div>

    <BarRating
      fiveStars={info.rating.communityRatings.fiveStars}
      fourStars={info.rating.communityRatings.fourStars}
      threeStars={info.rating.communityRatings.threeStars}
      twoStars={info.rating.communityRatings.twoStars}
      oneStar={info.rating.communityRatings.oneStar}
    />
  </section>
</Layout>
<script>
  import SmoothScroll from "smooth-scroll";

  const scroll = new SmoothScroll('a[href*="#"]', {
    speed: 600, // Ajusta la velocidad del desplazamiento (en milisegundos)
    speedAsDuration: true, // Permite que la velocidad sea interpretada como duración (en milisegundos)
    easing: "easeInOutQuart", // Añade un efecto de aceleración y desaceleración (opcional)
    offset: 100, // Desplazamiento adicional (en píxeles) para ajustar la posición final
  });
</script>
