---
import Layout from "../layouts/Layout.astro";
import BackIcon from "../components/icons/BackIcon.astro";
import BuyIcon from "../components/icons/BuyIcon.astro";
import { libros } from "../data/libros";
import Titulo from "../components/Titulo.astro";

const { libro } = Astro.params;

const info = libros.find((l) => l.id === libro);

if (!info) {
  return Astro.redirect("/404");
}
---

<Layout title={`${info.titulo}`}>
  <main class="m-auto max-w-4xl px-4">
    <header>
      <Titulo clase={"scale-75"} />
    </header>

    <div class="flex justify-center mb-10">
      <BackIcon />
    </div>

    <div class="grid md:grid-cols-[350px_1fr] gap-5 gap-x-12 px-10 md:px-0 mb-10">
      <div class="flex flex-col">
        <picture class="mb-8 w-full relative">
          <img
            class="aspect-[2000/3227] h-full object-cover w-full max-w-full rounded-lg"
            src={info.img}
            alt={`Portada de ${info.titulo}`}
            style={`view-transition-name: book-${info.id}`}
          />
        </picture>

        <BuyIcon link={info.linkCompra} />
      </div>

      <aside class="text-white">
        <h1 class="text-3xl md:text-5xl font-black mb-5">{info.titulo}</h1>
        <p class="mb-5">
          <strong>Autor:</strong>
          <strong class="font-semibold text-white">{info.autor}</strong>
        </p>
        <p class="text-lg pb-10">{info.sinopsis}</p>
      </aside>
    </div>
  </main>
</Layout>
